body {
  background-image: url(stupa_Borobudur.jpg);
  background-size: cover;
}
div {
  width: 800px;
  height: 600px;
  text-align: justify;
  margin: 0px auto;
  border: 2px solid red;
  background: url(avocado.jpg) repeat;
}
.justify {
  color: blue;
}
.repeat {
  background-repeat: repeat-x;
}
